.moviesContainer {
  padding: 20px;
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.searchResults {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movieItem {
  width: 100%;
  border: none; 
  text-align: center;
  font-size: 16px;
}
